@use '@/styles/mixins' as *;
@use '@/styles/rem' as *;

.section-container {
  padding-bottom: rem(80);
}

.fake-image {
  width: 100%;
  aspect-ratio: 1920 / 610;
  background-color: black;
  overflow: hidden;
}

.section-container {
  opacity: 0;
  transform: translateY(20px); // 살짝 아래에서 위로
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

/* is-visible 클래스가 붙으면 제자리로 오면서 나타남 */
.section-container.is-visible {
  opacity: 1;
  transform: translateY(0);
}
