@use '@/styles/mixins' as *;
@use '@/styles/rem' as *;

.works-list-container {
  padding: rem(240) 0;
  box-sizing: border-box;
}

@media (max-width: rem(1000)) {
  .works-list-container {
    padding: rem(160) 0;
  }
}
