:root,
[data-color-scheme='light'] {
  /* System color */
  --color-main: #396eff;
  --color-bg-normal: rgba(255, 255, 255, 1);
  --color-font-noraml: #171718;
  --color-line-noraml: #e1e2e3;
  --color-menu-noraml: rgba(255, 255, 255, 1);
  --color-bg-stacks: rgba(0, 0, 0, 0.01);
  --color-bg-button: rgba(0, 0, 0, 1);
  --color-line-image: rgba(0, 0, 0, 0.01);
  --color-line-block: rgba(0, 0, 0, 0.05);
  --color-stack-bg: rgba(255, 255, 255, 1);
  --color-stack-icon: rgba(255, 255, 255, 1);
  --color-stack-icon-reverse: rgba(0, 0, 0, 0.015);
  --color-bar: #eceff4;
  --color-placeholder: #d4d7db;

  /* Gray scale */
  --color-gray-1000: #000000;
  --color-gray-900: #2f2f30;
  --color-gray-800: #464749;
  --color-gray-700: #5e5f61;
  --color-gray-600: #76777a;
  --color-gray-500: #8d8f92;
  --color-gray-400: #a5a7aa;
  --color-gray-300: #bcbfc3;
  --color-gray-200: #d4d7db;
  --color-gray-100: #eceff4;
  --color-gray-50: #f5f7f9;
  --color-gray-0: #ffffff;

  /* Fix Color */
  --color-white-fix: rgb(255, 255, 255);
  --color-black-fix: rgb(0, 0, 0);
  --color-warning: #ff4d52;
  --color-line-fix: rgba(0, 0, 0, 0.05);
  --color-bg-shadow-front: rgba(217, 217, 217, 0);
  --color-bg-shadow-back: rgba(0, 0, 0, 0.05);

  /* Colorful color */
  --color-green: #00bd79;
  --color-green-bg: #d9f5eb;
  --color-lime: #75ce3c;
  --color-lime-bg: #d6f0c4;
  --color-red: #ff5247;
  --color-red-bg: #ff5247;
  --color-blue: #1b8cf8;
  --color-blue-bg: #bbddfd;
  --color-yellow: #ffde33;
  --color-yellow-bg: #fff5c2;
  --color-orange: #feae1a;
  --color-orange-bg: #ffe7ba;
  --color-purple: #79037d;
  --color-purple-bg: #d7b3d8;
}

[data-color-scheme='dark'] {
  /* System color */
  --color-main: #396eff;
  --color-bg-normal: rgb(0, 0, 0);
  --color-font-noraml: rgb(255, 255, 255);
  --color-line-noraml: #2f2f30;
  --color-menu-noraml: rgba(255, 255, 255, 0.1);
  --color-bg-stacks: rgba(25, 25, 25, 1);
  --color-bg-button: rgba(25, 25, 25, 1);
  --color-line-image: #2f2f30;
  --color-line-block: rgba(255, 255, 255, 0.03);
  --color-stack-bg: rgba(25, 25, 25, 1);
  --color-stack-icon: rgba(255, 255, 255, 1);
  --color-stack-icon-reverse: rgba(255, 255, 255, 1);
  --color-bar: rgba(25, 25, 25, 1);
  --color-placeholder: rgba(50, 50, 50, 1);

  /* Gray scale */
  --color-gray-1000: #ffffff;
  --color-gray-900: #f5f7f9;
  --color-gray-800: #eceff4;
  --color-gray-700: #d4d7db;
  --color-gray-600: #bcbfc3;
  --color-gray-500: #a5a7aa;
  --color-gray-400: #8d8f92;
  --color-gray-300: #76777a;
  --color-gray-200: #5e5f61;
  --color-gray-100: #464749;
  --color-gray-50: #2f2f30;
  --color-gray-0: #000000;
}
