@use '@/styles/mixins' as *;
@use '@/styles/rem' as *;

.stack-list-section {
  padding: rem(80) 0 rem(240);
}

.stack-grid {
  @include grid-box(repeat(2, 1fr), rem(20));
  row-gap: rem(60);
}

.category-group {
  @include grid-box(null, rem(60));
  padding-top: rem(160);
}

.category-title {
  @include grid-box(null, rem(16));
  @include grid-item(start, start);
  @include typo(48, 700, 1);
}

.stack-card {
  //width: 25cqw;
  @include flex-box(start, center, row, rem(40));
  box-sizing: border-box;
  //@include grid-box(null, rem(20));

  .stack-wrap {
    @include grid-box(null, rem(40));
  }

  .card-info {
    @include grid-box(null, rem(20));
  }

  .icon-box {
    position: relative;
    width: rem(210);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    @include flex-box(center, center);
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    user-select: none;
    pointer-events: none;
    border: rem(1) solid var(--color-line-noraml);
    border-radius: rem(20);
  }

  .stack-name {
    @include typo(32, 700, 1.2);
    color: var(--color-gray-1000);
  }

  .stack-detail {
    @include typo(14, 400, 1.6);
    color: var(--color-gray-400);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-right: rem(40);
    max-width: rem(450);
  }
}
