@use '@/styles/mixins' as *;
@use '@/styles/rem' as *;

.stack-list-section {
  padding: rem(80) 0 rem(240);
}

.stack-grid {
  @include grid-box(1fr, rem(20));
}

.category-group {
  @include grid-box(null, rem(60));
  padding-top: rem(160);
}

.category-title {
  @include grid-box(null, rem(16));
  @include grid-item(start, start);
  @include typo(48, 700, 1);
}

.stack-card {
  //width: 25cqw;
  width: 100%;
  @include flex-box(space-between, start, row, rem(40));
  padding: rem(40);
  border-radius: rem(20);
  box-sizing: border-box;
  background-color: var(--color-bg-stacks);

  .stack-wrap {
    @include grid-box(null, rem(40));
  }

  .card-info {
    @include grid-box(null, rem(24));
    flex: 1;
  }

  .icon-box {
    position: relative;
    width: rem(200);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    @include flex-box(center, center);
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    //border-radius: rem(20);
  }

  .stack-name {
    @include typo(32, 700, 1.2);
    color: var(--color-black-fix);
  }

  .stack-detail {
    @include typo(16, 400, 1.6);
    color: var(--color-black-fix);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-right: rem(40);
  }
}

@media (max-width: rem(1600)) {
  .stack-card {
    @include flex-box(start, center, row, rem(20));

    .card-info {
      @include grid-box(null, rem(10));
    }
  }
}

@media (max-width: rem(1000)) {
  .stack-list-section {
    padding: rem(80) 0 rem(160);
  }

  .category-group {
    padding-top: rem(80);
  }

  .stack-grid {
    @include grid-box(1fr, rem(20));
    row-gap: rem(60);
  }

  .stack-card {
    @include flex-box(start, center, row, rem(20));

    .icon-box {
      width: rem(160);
    }

    .card-info {
      @include grid-box(null, rem(10));
    }

    .stack-name {
      @include typo(24, 700, 1.2);
    }

    .stack-detail {
      margin-right: rem(20);
    }
  }
}

@media (max-width: rem(768)) {
  .category-title {
    @include typo(32, 700, 1);
  }

  .stack-card {
    @include flex-box(start, start, column, rem(20));
    padding: rem(24);

    .icon-box {
      width: rem(100);
    }

    .stack-name {
      @include typo(20, 700, 1.2);
    }
  }
}
