@use '@/styles/mixins' as *;
@use '@/styles/rem' as *;

.section-container {
  height: 1000svh;
  position: relative;
  user-select: none;
  pointer-events: none;
}

.sticky-wrap {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  margin-top: 25svh;
  font-size: rem(80);
  font-weight: 700;
  will-change: opacity, transform;
}

.video-wrapper {
  position: absolute;
  left: 50%;
  //transform: translate(-50%, -50%);
  transform: translateX(-50%);
  overflow: hidden;
  will-change: width, height, top, border-radius;
  @include flex-box(center, center);
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  @include flex-box(center, center);
  flex-direction: column;
  z-index: 10;
  will-change: opacity;
}

.overlay-bg {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.text-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 텍스트 덩어리(문단)를 감싸는 래퍼 (이 녀석의 투명도가 0이 되면 제자리에서 사라짐) */
.overlay-text-wrapper {
  position: absolute;
  text-align: center;
  color: #fff;
  will-change: opacity;
}

/* 글자가 밑에서 올라오는 것처럼 보이게 만드는 마스킹 박스 */
.reveal-box {
  overflow: hidden; /* 영역 밖(아래쪽)에 있는 글자를 숨김 */
  display: flex;
  justify-content: center;

  /* 여러 줄의 텍스트가 붙어있을 때 간격 유지 */
  margin-bottom: rem(4);

  p {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.4;
    will-change: transform; /* 부드러운 Y축 이동 보장 */
    /* 아래쪽으로 밀려난 상태에서 시작함 */

    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
  }
}
@media (max-width: rem(1000)) {
  .title {
    font-size: 8cqw;
  }

  .overlay-text {
    font-size: 6cqw;
  }
}

@media (max-width: rem(768)) {
  .video-wrapper {
    //width: 100% !important;
  }
}
