@use '@/styles/mixins' as *;
@use '@/styles/rem' as *;

.section-container {
  padding: rem(160) 0 rem(240);
}

.section-wrap {
  @include grid-box(null, rem(80));
}

.title-section {
  @include flex-box(space-between, end, row, rem(10));
}

.text-section {
  @include grid-box(null, rem(10));

  .section-title {
    @include typo(20, 700, 1.4);
  }

  .section-text {
    @include typo(40, 700, 1.4);
  }
}

.button-section {
  .more-button {
    @include typo(16, 600, 1);
  }
}

.content-section {
  @include grid-box();
  width: 100%;
  container-type: inline-size;
  container-name: content;

  > li {
    padding: rem(60) rem(10);
    box-sizing: border-box;
    border-bottom: rem(1) solid #e1e2e3;
    width: 100%;

    &:first-child {
      border-top: rem(1) solid #e1e2e3;
      padding: rem(40) rem(10) rem(80);
    }
  }

  .contact-mail {
    font-size: 12cqw;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
  }

  .contact-buttons {
    width: 100%;
    @include flex-box(space-between, center, row, rem(10));
    @include typo(20, 600, 1);
  }
}
