@use '@/styles/mixins' as *;
@use '@/styles/rem' as *;

.section-container {
  padding: rem(160) 0 rem(240);
}

.section-wrap {
  @include grid-box(null, rem(80));
}

.title-section {
  @include flex-box(space-between, end, row, rem(10));
}

.text-section {
  @include grid-box(null, rem(10));

  .section-title {
    @include typo(20, 700, 1.4);
  }

  .section-text {
    @include typo(48, 700, 1.2);
  }
}

.button-section {
  .more-button {
    @include flex-box(end, center, row, rem(12));
    @include typo(16, 600, 1);
    color: var(--color-gray-1000);
  }
}

.content-section {
  @include grid-box();

  > li {
    @include grid-box(rem(400) 1fr, rem(20));
    padding: rem(60) rem(10);
    box-sizing: border-box;
    border-bottom: rem(1) solid var(--color-line-noraml);

    &:first-child {
      border-top: rem(1) solid var(--color-line-noraml);
    }
  }

  .about-title {
    @include grid-box(null, rem(8));
    @include grid-item(start, start);
    @include typo(24, 700, 1);

    .sub-title {
      color: var(--color-gray-200);
    }
  }

  .about-content {
    @include typo(15, 400, 1.5);
  }

  .about-content-list {
    @include grid-box(null, rem(16));

    > li {
      @include grid-box(rem(210) 1fr, rem(60));
      @include typo(15, 400, 1.5);
      color: var(--color-gray-400);

      .flex-box {
        @include flex-box(space-between, start, row, rem(60));

        .list-title {
          color: var(--color-gray-1000);
        }

        .list-title-sub {
          color: var(--color-gray-400);
        }

        .list-sub {
          text-align: right;
        }
      }
    }
  }

  .about-block-list {
    @include flex-box(start, start, row, rem(10));
    flex-wrap: wrap;

    .about-block {
      @include flex-box(center, center);
      @include typo(13, 400, 1);
      padding: rem(4) rem(4);
      box-sizing: border-box;
      border-radius: rem(4);
      background-color: var(--color-gray-100);
    }
  }
}

@media (max-width: rem(1600)) {
  .content-section {
    > li {
      @include grid-box(rem(300) 1fr, rem(20));
    }

    .about-title {
      @include typo(32, 700, 1);
      flex-wrap: wrap;
    }

    .about-content-list {
      > li {
        @include grid-box(rem(160) 1fr, rem(20));

        .flex-box {
          @include flex-box(space-between, start, row, rem(20));

          .list-title {
            @include flex-box(start, start, row, rem(6));
            flex-wrap: wrap;
          }

          .list-sub {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media (max-width: rem(1000)) {
  .section-container {
    padding: rem(160) 0;
  }

  .title-section {
    @include flex-box(start, start, column, rem(40));
    width: 100%;
  }

  .text-section {
    .section-title {
      @include typo(16, 700, 1.4);
    }

    .section-text {
      @include typo(32, 700, 1.4);
    }
  }

  .button-section {
    @include flex-box(end, center);
    width: 100%;
  }

  .content-section {
    > li {
      @include grid-box(1fr, rem(40));
    }

    .about-content-list {
      > li {
        @include grid-box(rem(160) 1fr, rem(20));
      }
    }
  }
}

@media (max-width: rem(768)) {
  .content-section {
    > li {
      padding: rem(40) rem(10);
    }

    .about-content {
      @include typo(14, 400, 1.5);
    }

    .about-content-list {
      > li {
        @include grid-box(1fr, rem(10));

        .list-time {
          order: 1;
          @include typo(14, 400, 1.4);
        }

        .flex-box {
          @include grid-box(1fr, rem(10));

          .list-title {
            @include flex-box(start, start, row, rem(6));
            flex-wrap: wrap;
            @include typo(20, 700, 1.4);
          }

          .list-sub {
            text-align: left;
            white-space: unset;
            color: var(--color-gray-1000);
            @include typo(14, 400, 1.4);
          }
        }
      }
    }

    .about-block-list {
      .about-block {
        @include typo(14, 400, 1);
      }
    }
  }
}
