@use '@/styles/mixins' as *;
@use '@/styles/rem' as *;

.section-container {
  overflow: hidden;
  background-color: var(--color-bg-stacks);
}

.section-container {
  padding: rem(240) 0 rem(240);
}

.section-wrap {
  @include grid-box(null, rem(80));
}

.title-section {
  @include flex-box(space-between, end, row, rem(10));
}

.text-section {
  @include grid-box(null, rem(10));

  .section-title {
    @include typo(20, 700, 1.4);
  }

  .section-text {
    @include typo(40, 700, 1.4);
  }
}

.button-section {
  @include flex-box(end, center, row, rem(10));

  .more-button {
    @include flex-box(end, center, row, rem(12));
    @include typo(16, 600, 1);
    color: var(--color-gray-1000);
  }
}

.slider-wrapper {
  position: relative;
  width: 100%;
  container-type: inline-size;
}

.arrow-btn {
  width: rem(50);
  height: rem(50);
  color: var(--color-gray-1000);
  background-color: var(--color-gray-0);
  border: rem(1) solid var(--color-line-noraml);
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  @include flex-box(center, center);
  @include typo(18, 600, 1);
  transition: all 0.25s ease;

  path {
    stroke: var(--color-gray-1000);
  }

  &:hover {
    background-color: var(--color-gray-1000);
    color: var(--color-gray-0);
    border-color: var(--color-gray-1000);

    path {
      stroke: var(--color-gray-0);
    }
  }
}

.slider-track {
  display: flex;
  overflow: hidden;
  cursor: grab;
  user-select: none;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  padding-top: rem(20);
  padding-bottom: rem(20);

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;

  &.grabbing {
    cursor: grabbing;
  }
}

.stack-card {
  flex-shrink: 0;
  width: 25cqw;
  flex: 0 0 25cqw;
  padding-right: rem(20);
  box-sizing: border-box;

  &:last-child {
    padding-right: unset;
  }

  .stack-wrap {
    @include grid-box(null, rem(40));
  }

  .card-info {
    @include grid-box(null, rem(20));
  }

  .icon-box {
    position: relative;
    width: rem(120);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    @include flex-box(center, center);
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    user-select: none;
    pointer-events: none;
  }

  .stack-name {
    @include typo(32, 700, 1.2);
    color: var(--color-gray-1000);
  }

  .stack-detail {
    @include typo(16, 400, 1.6);
    color: var(--color-gray-400);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-right: rem(40);
  }
}

.slider-track {
  display: flex;
  overflow: hidden;
  cursor: grab;
  user-select: none;

  &.grabbing {
    cursor: grabbing;
  }
}

@media (max-width: rem(1600)) {
  .stack-card {
    padding-right: rem(16);

    &:last-child {
      padding-right: unset;
    }

    .stack-wrap {
      @include grid-box(null, rem(20));
    }

    .card-info {
      @include grid-box(null, rem(16));
    }

    .icon-box {
      width: rem(100);
    }

    .stack-name {
      @include typo(24, 700, 1.2);
    }

    .stack-detail {
      @include typo(14, 400, 1.6);
      -webkit-line-clamp: 3;
      margin-right: rem(20);
    }
  }
}

@media (max-width: rem(1000)) {
  .section-container {
    padding: rem(160) 0;
  }

  .title-section {
    @include flex-box(start, start, column, rem(40));
    width: 100%;
  }

  .text-section {
    .section-title {
      @include typo(16, 700, 1.4);
    }

    .section-text {
      @include typo(32, 700, 1.4);
    }
  }

  .button-section {
    @include flex-box(end, center);
    width: 100%;
  }

  .stack-card {
    padding-right: rem(16);
    width: rem(280);
    flex: 0 0 rem(280);

    &:last-child {
      padding-right: unset;
    }

    .stack-wrap {
      @include grid-box(null, rem(20));
    }

    .card-info {
      @include grid-box(null, rem(16));
    }

    .icon-box {
      width: rem(80);
    }

    .stack-name {
      @include typo(20, 700, 1.2);
    }

    .stack-detail {
      @include typo(14, 400, 1.6);
      -webkit-line-clamp: 3;
      margin-right: rem(20);
    }
  }
}

@media (max-width: rem(768)) {
  .stack-card {
    width: rem(210);
    flex: 0 0 rem(210);

    .card-info {
      @include grid-box(null, rem(16));
    }

    .icon-box {
      width: rem(60);
    }

    .stack-name {
      @include typo(16, 700, 1.2);
    }

    .stack-detail {
      @include typo(12, 400, 1.6);
      margin-right: rem(20);
    }
  }

  .arrow-btn {
    width: rem(42);
    height: rem(42);

    .svg-box {
      @include svg-box(rem(16));
    }
  }
}
