@use '@/styles/mixins' as *;
@use '@/styles/rem' as *;

.section-container {
  padding-top: rem(160);
}

.section-wrap {
  @include grid-box();
}

.content-section {
  @include grid-box();

  > li {
    @include grid-box(null, rem(60));
    box-sizing: border-box;
  }

  .about-title {
    @include grid-box(null, rem(16));
    @include grid-item(start, start);
    @include typo(48, 700, 1);

    .sub-title {
      color: var(--color-gray-200);
    }
  }

  .about-content {
    @include typo(16, 400, 1.5);

    [data-color-scheme='dark'] & {
      font-weight: 500;
    }
  }

  .about-content-list {
    @include grid-box(repeat(2, 1fr), rem(20));
    row-gap: rem(60);

    > li {
      @include grid-box(null, rem(16));

      .list-time {
        color: var(--color-gray-400);
      }

      .flex-box {
        @include grid-box(null, rem(16));

        [data-color-scheme='dark'] & {
          font-weight: 500;
        }

        .list-title {
          @include flex-box(start, start, row, rem(10));
          row-gap: 0;
          @include typo(24, 700, 1.5);
          color: var(--color-gray-1000);
          flex-wrap: wrap;
        }

        .list-title-sub {
          color: var(--color-gray-400);
        }

        .list-title-bar {
          font-weight: 200;
          color: var(--color-gray-400);
        }
      }
    }
  }

  .about-block-list {
    @include flex-box(start, start, row, rem(10));
    flex-wrap: wrap;

    .about-block {
      @include flex-box(center, center);
      @include typo(16, 400, 1);
      padding: rem(4) rem(4);
      box-sizing: border-box;
      border-radius: rem(4);
      background-color: var(--color-gray-100);

      [data-color-scheme='dark'] & {
        font-weight: 500;
      }
    }
  }
}

@media (max-width: rem(768)) {
  .content-section {
    > li {
      @include grid-box(null, rem(40));
    }

    .about-title {
      @include typo(32, 700, 1);
    }

    .about-content {
      @include typo(14, 400, 1.5);

      [data-color-scheme='dark'] & {
        font-weight: 500;
      }
    }

    .about-content-list {
      @include grid-box(1fr);
      row-gap: rem(40);

      > li {
        @include grid-box(null, rem(8));
        @include typo(14, 400, 1.4);

        [data-color-scheme='dark'] & {
          font-weight: 500;
        }

        .flex-box {
          @include grid-box(null, rem(8));

          .list-title {
            @include flex-box(start, start, row, rem(6));
            @include typo(20, 700, 1.5);
          }

          .list-title-bar {
            font-weight: 200;
          }
        }
      }
    }

    .about-block-list {
      @include flex-box(start, start, row, rem(10));
      flex-wrap: wrap;

      .about-block {
        @include typo(14, 400, 1);
        padding: rem(4) rem(4);

        [data-color-scheme='dark'] & {
          font-weight: 500;
        }
      }
    }
  }
}
